spring:
  application:
    name: burgundred-svc
  output:
    ansi:
      enabled: always
  # DataSource
  datasource:
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/db_burgundyred?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
  data:
    elasticsearch:
      cluster-name: elasticsearch
      cluster-nodes: localhost:9300
  redis:
    host: localhost
    lettuce:
      pool:
        max-active: 5
        max-idle: 5
  # Mail
  mail:
    default-encoding: UTF-8
    host: smtp.126.com
    password: shaohsiung123321
    port: 25
    protocol: smtp
    username: shaohsiung@126.com


mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: com.shaohsiung.burgundyred.model
  type-handlers-package: com.shaohsiung.burgundyred.handler


server:
  port: 8081


# dubbo
dubbo:
  application:
    name: dubbo-provider
  protocol:
    name: dubbo
    port: 20880
  registry:
    address: zookeeper://119.23.40.171:2181
  provider:
    timeout: 1000

# RabbitMQ
rabbitmq:
  host: localhost
  port: 5672
  username: guest
  password: guest