.category-list-wrap {
    float: left;
    margin-right: 10px;
}

.category_list {
    list-style-type: none;
    height: 386px;
    width: 248px;
    border: 1px solid #666;
    background-color: #1F1122;
    padding: 0;
}
.category_item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    /* text-align: center; */
}
.category_item:hover {
    background-color: #911E3B;
}
.category_item a {
    text-decoration: none;
    color: #FFF;
}
.category_item a:hover {
    cursor: pointer;
    color: #1F1122;
}