.floor {
    color: #911E3B;
    font-weight: bold; 
    padding-bottom: 10px; 
    border-bottom: 1px solid #BEBEBD;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-item {
    border: 1px solid #D8D8D7;
    background-color: #fff;
    width: 230px;
    font-weight: bold;
    padding: 4px;
    float: left;
    margin-right: 40px;
}
.product-item .product-img {    
    text-align: center;
}
.product-item:hover {
    cursor: pointer;
    box-shadow: 0 3px 15px rgba(31,17,34,0.15);
}