<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link href="./lib/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="./style/index.css">
    <link rel="stylesheet" href="./style/navbar.css">
    <link rel="stylesheet" href="./style/search-form.css">
    <link rel="stylesheet" href="./style/category-list.css">
    <link rel="stylesheet" href="./style/banner.css">
    <link rel="stylesheet" href="./style/product-item.css">
    <link rel="stylesheet" href="./style/ad.css">
    <link rel="stylesheet" href="./style/footer.css">
    <link rel="stylesheet" href="./lib/swiper/swiper.min.css">
</head>
<body>
    <!-- 导航 -->
    <div class="navbar">
        <div class="w">
            <ul class="user-info">
                <li class="user-info-item"><a href="#" th:href="@{/user/register}">注册</a></li>
                <li class="user-info-item"><a href="#" th:href="@{/user/login}">登录</a></li>
            </ul>
            
            <ul class="nav-list">
                <li class="nav-list-item"><a href="#"><i class="fas fa-shopping-cart"></i> 购物车(0)</a></li>
                <li class="nav-list-item"><a href="#">我的订单</a></li>
                <li class="nav-list-item"><a href="#">个人中心</a></li>
            </ul>
        </div>
    </div>

    <!-- logo，搜索框 -->
    <div class="w">
        <a class="site-logo" href="#">Burgundyred</a>
        <div class="search-form"> 
            <input class="search-input" id="search-input" placeholder="请输入商品名称"> 
            <button class="search-btn" id="search-btn">搜索</button> 
        </div>
    </div>

    <!-- 类目列表，轮播图 -->
    <div class="w">
        <div class="category-list-wrap">
            <ul class="category_list">
                <li class="category_item">
                    <a href="#">勃艮第</a>
                    <a href="#">红酒</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                    <a href="#">烛光晚餐</a>
                    <a href="#">清酒</a>
                </li>
                <li class="category_item">
                    <a href="#">勃艮第</a>
                    <a href="#">红酒</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                    <a href="#">烛光晚餐</a>
                    <a href="#">清酒</a>
                </li>
                <li class="category_item">
                    <a href="#">勃艮第</a>
                    <a href="#">红酒</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                    <a href="#">烛光晚餐</a>
                    <a href="#">清酒</a>
                </li>
                <li class="category_item">
                    <a href="#">勃艮第</a>
                    <a href="#">红酒</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                    <a href="#">烛光晚餐</a>
                    <a href="#">清酒</a>
                </li>
                <li class="category_item">
                    <a href="#">勃艮第</a>
                    <a href="#">红酒</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                    <a href="#">烛光晚餐</a>
                    <a href="#">清酒</a>
                </li>
            </ul>
        </div>
        <div class="banner-wrap">
            <div class="banner-conatiner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="banner : ${banners}">
                            <img height="385.88" width="882" src="./images/banner/default_banner_1.jpg" th:alt="${banner.name}" th:src="@{${banner.path}}">
                        </div>
                        <!--/*-->
                        <div class="swiper-slide">
                            <img height="385.88" width="882" src="./images/banner/default_banner_2.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img height="385.88" width="882" src="./images/banner/default_banner_3.jpg">
                        </div>
                        <!--*/-->
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                    
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 商品展示列表 -->
    <div class="w">
        <!-- F1 -->
        <h2 class="floor">F1 热销款式</h2>
        <div class="product-list">
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/1.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥600.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/1.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥600.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/1.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥600.00</span>
            </div>
            <div class="product-item" style="margin-right: 0;">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/1.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥600.00</span>
            </div>
        </div>
        <div style="clear: both;"></div>

        <!-- F2 -->
        <h2 class="floor">F2 最新款式</h2>
        <div class="product-list">
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item" style="margin-right: 0;">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
        </div>
        <div style="clear: both;"></div>

        <!-- F3 -->
        <h2 class="floor">F3 最新款式</h2>
        <div class="product-list">
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item" style="margin-right: 0;">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
        </div>
        <div style="clear: both;"></div>

        <!-- F4 -->
        <h2 class="floor">F4 最新款式</h2>
        <div class="product-list">
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item" style="margin-right: 0;">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
        </div>
        <div style="clear: both;"></div>

        <!-- F5 -->
        <h2 class="floor">F5 最新款式</h2>
        <div class="product-list">
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item" style="margin-right: 0;">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
        </div>
        <div style="clear: both;"></div>

    </div>

    <div class="ad">
        <div class="w">
            广告
        </div>
    </div>
    
    <div class="footer">
        <div class="w">
            版权
        </div>
    </div>

<script src="./lib/jquery.js"></script>
<script src="./lib/swiper/swiper.min.js"></script>
<script src="./script/banner.js"></script>
</body>
</html>