<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>勃艮第红</title>
    <link href="/static/lib/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/index.css">
    <link rel="stylesheet" href="/static/style/navbar.css">
    <link rel="stylesheet" href="/static/style/search-form.css">
    <link rel="stylesheet" href="/static/style/category-list.css">
    <link rel="stylesheet" href="/static/style/banner.css">
    <link rel="stylesheet" href="/static/style/product-item.css">
    <link rel="stylesheet" href="/static/style/ad.css">
    <link rel="stylesheet" href="/static/style/footer.css">
    <link rel="stylesheet" href="/static/lib/swiper/swiper.min.css">
    <style>
        .product-item-margin {
            margin-right: 0;
        }
    </style>
</head>
<body>
    <!-- 导航 -->
    <div class="navbar">
        <div class="w">
            <ul class="user-info" th:if="${user} == null">
                <li class="user-info-item"><a href="#" th:href="@{/user/register}">注册</a></li>
                <li class="user-info-item"><a href="#" th:href="@{/user/login}">登录</a></li>
            </ul>
            <ul class="user-info" th:if="${user} != null">
                <li class="user-info-item"><a href="#" th:text="'欢迎您：'+ ${user.userName}">欢迎您：hello</a></li>
                <li class="user-info-item"><a href="#" th:href="@{/user/logout}">登出</a></li>
            </ul>
            
            <ul class="nav-list">
                <li class="nav-list-item"><a th:href="@{/cart}" href="#"><i class="fas fa-shopping-cart"></i> 购物车(0)</a></li>
                <li class="nav-list-item"><a href="#">我的订单</a></li>
                <li class="nav-list-item"><a href="#">个人中心</a></li>
            </ul>
        </div>
    </div>

    <!-- logo，搜索框 -->
    <div class="w">
        <a class="site-logo" th:href="@{/}" href="#">Burgundyred</a>
        <div class="search-form"> 
            <input class="search-input" id="search-input" placeholder="请输入商品名称"> 
            <button class="search-btn" id="search-btn">搜索</button> 
        </div>
    </div>

    <!-- 类目列表，轮播图 -->
    <div class="w">
        <div class="category-list-wrap">
            <ul class="category_list">
                <li class="category_item" th:each="category : ${categoryList}">
                    <a href="#" th:text="${category.name}">勃艮第</a>
                </li>
                <!--/*-->
                <li class="category_item">
                    <a href="#">牛排</a>
                </li>
                <li class="category_item">
                    <a href="#">勃艮第</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                </li>
                <li class="category_item">
                    <a href="#">勃艮第</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                </li>
                <li class="category_item">
                    <a href="#">勃艮第</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                </li>
                <li class="category_item">
                    <a href="#">勃艮第</a>
                </li>
                <li class="category_item">
                    <a href="#">牛排</a>
                </li>
                <!--*/-->
            </ul>
        </div>
        <div class="banner-wrap">
            <div class="banner-conatiner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="banner : ${banners}">
                            <img height="385.88" width="882" src="./images/banner/default_banner_1.jpg" th:alt="${banner.name}" th:src="@{${banner.path}}">
                        </div>
                        <!--/*-->
                        <div class="swiper-slide">
                            <img height="385.88" width="882" src="./images/banner/default_banner_2.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img height="385.88" width="882" src="./images/banner/default_banner_3.jpg">
                        </div>
                        <!--*/-->
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                    
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 商品展示列表 -->
    <div class="w">
        <!-- F1 -->
        <h2 class="floor">F1 最新款式</h2>
        <div class="product-list">
            <div class="product-item"  th:each="product : ${latestStyle}">
                <a href="#"  th:href="@{'/product/' + ${product.id}}" style="text-decoration: none; color: black;">
                    <div class="product-img">
                        <img height="289.48" width="192.99" src="./images/1.jpg" alt="" th:src="@{${product.mainPicture}}">
                    </div>
                    <h4 th:text="${product.name}">天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                    <span style="font-weight: bold; color: #ff1a55;" th:text="'￥' + ${product.price}">￥600.00</span>
                </a>
            </div>
            <!--/*-->
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/1.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥600.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/1.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥600.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/1.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥600.00</span>
            </div>
            <!--*/-->
        </div>
        <div style="clear: both;"></div>

        <!-- F2 -->
        <h2 class="floor">F2 推荐款式</h2>
        <div class="product-list">
            <div class="product-item"  th:each="product : ${recommendedStyle}">
                <a href="#"  th:href="@{'/product/' + ${product.id}}" style="text-decoration: none; color: black;">
                    <div class="product-img">
                        <img height="289.48" width="192.99" src="./images/2.jpg" alt=""  th:src="@{${product.mainPicture}}">
                    </div>
                    <h4 th:text="${product.name}">天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                    <span style="font-weight: bold; color: #ff1a55;" th:text="'￥' + ${product.price}">￥360.00</span>
                </a>
            </div>
            <!--/*-->
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <!--*/-->
        </div>
        <div style="clear: both;"></div>

        <!-- F3 -->
        <h2 class="floor">F3 亲民款式</h2>
        <div class="product-list">
            <div class="product-item" th:each="product : ${intimateStyle}">
                <a href="#"  th:href="@{'/product/' + ${product.id}}" style="text-decoration: none; color: black;">
                    <div class="product-img">
                        <img height="289.48" width="192.99" src="./images/2.jpg" alt=""  th:src="@{${product.mainPicture}}">
                    </div>
                    <h4 th:text="${product.name}">天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                    <span style="font-weight: bold; color: #ff1a55;" th:text="'￥' + ${product.price}">￥360.00</span>
                </a>
            </div>
            <!--/*-->
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <!--*/-->
        </div>
        <div style="clear: both;"></div>

        <!-- F4 -->
        <h2 class="floor">F4 稀缺款式</h2>
        <div class="product-list">
            <div class="product-item"  th:each="product : ${scarceStyle}">
                <a href="#"  th:href="@{'/product/' + ${product.id}}" style="text-decoration: none; color: black;">
                    <div class="product-img">
                        <img height="289.48" width="192.99" src="./images/2.jpg" alt=""  th:src="@{${product.mainPicture}}">
                    </div>
                    <h4 th:text="${product.name}">天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                    <span style="font-weight: bold; color: #ff1a55;" th:text="'￥' + ${product.price}">￥360.00</span>
                </a>
            </div>
            <!--/*-->
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <!--*/-->
        </div>
        <div style="clear: both;"></div>

        <!-- F5 -->
        <h2 class="floor">F5 清仓甩卖</h2>
        <div class="product-list">
            <div class="product-item"  th:each="product : ${clearanceStyle}">
                <a href="#"  th:href="@{'/product/' + ${product.id}}" style="text-decoration: none; color: black;">
                    <div class="product-img">
                        <img height="289.48" width="192.99" src="./images/2.jpg" alt=""  th:src="@{${product.mainPicture}}">
                    </div>
                    <h4 th:text="${product.name}">天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                    <span style="font-weight: bold; color: #ff1a55;" th:text="'￥' + ${product.price}">￥360.00</span>
                </a>
            </div>
            <!--/*-->
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <div class="product-item">
                <div class="product-img">
                    <img height="289.48" width="192.99" src="./images/2.jpg" alt="">
                </div>
                <h4>天山 遊花 純米吟釀生貯 300ml（熱銷完售）</h4>
                <span style="font-weight: bold; color: #ff1a55;">￥360.00</span>
            </div>
            <!--*/-->
        </div>
        <div style="clear: both;"></div>

    </div>

    <div class="ad">
        <div class="w">
            广告
        </div>
    </div>
    
    <div class="footer">
        <div class="w">
            版权
        </div>
    </div>

<script src="/static/lib/jquery.js"></script>
<script src="/static/lib/swiper/swiper.min.js"></script>
<script src="/static/script/banner.js"></script>
<script>
    $(document).ready(function (){
        $(".product-list .product-item:last-child").addClass('product-item-margin');
    });
</script>
</body>
</html>